@model CategoryModel
@{
    var lstCateDetail = Model.ListCateDetail;
}
@if(Model != null)
{
    if(Model.ListCateParent != null && Model.ListCateParent.Count > 0)
    {
        foreach(var item in Model.ListCateParent)
        {
            var ckCateDetail = lstCateDetail.Where(x => x.CateId == item.Id).ToList();
            if (ckCateDetail != null && ckCateDetail.Count > 0)
            {
                <li>
                    <a href="javascript:void(0)">@item.CateName</a>
                    <ul class="ne-dropdown-menu">
                        @foreach (var parent in ckCateDetail)
                        {
                            <li>
                                <a href="/Category/CateDetail?Id=@parent.Id">@parent.Name</a>
                            </li>
                        }                 
                    </ul>
                </li>
            }
            else
            {
                <li>
                    <a href="/Category?Id=@item.Id">@item.CateName</a>
                </li>
            }
        }
    }
}