@model CategoryModel
@{
    var lstCateDetail = Model.ListCateDetail;
}
@if (Model != null)
{
    if (Model.ListCateParent != null && Model.ListCateParent.Count > 0)
    {
        foreach (var item in Model.ListCateParent)
        {
            var ckCateDetail = lstCateDetail.Where(x => x.CateId == item.Id).ToList();
            if (ckCateDetail != null && ckCateDetail.Count > 0)
            {
                <li class="panel panel-default">
                    <div class="panel-heading">
                        <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_@item.Id">
                            <i class="fa fa-file-text" aria-hidden="true"></i>@item.CateName
                        </a>
                    </div>
                    <div aria-expanded="false" id="collapse_@item.Id" role="tabpanel" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="offcanvas-sub-nav">
                                @foreach (var parent in ckCateDetail)
                                {
                                    <li>
                                        <a href="/Category/CateDetail?Id=@parent.Id">@parent.Name</a>
                                    </li>
                                }                                               
                            </ul>
                        </div>
                    </div>
                </li>
            }
            else
            {
                <li>
                    <a href="/Category?Id=@item.Id">
                        <i class="fa fa-archive" aria-hidden="true"></i>@item.CateName
                    </a>
                </li>
            }
        }
    }
}