<footer>
    <div class="footer-area-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-box">
                        <h2 class="title-bold-light title-bar-left text-uppercase">NEW EDGE</h2>
                        <ul class="most-view-post">
                            <li>
                                <p>
                                    Báo tiếng Việt hay và tin tức chuẩn xác
                                    Thuộc Bộ Khoa học và Công nghệ
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-box">
                        <h2 class="title-bold-light title-bar-left text-uppercase">Thông tin chi tiết</h2>
                        <ul class="popular-categories">
                            <li>
                                Tổng biên tập: T&T
                                Địa chỉ: Tầng 10, Tòa A FPT Tower, số 10 Phạm Văn Bạch, Dịch Vọng, Cầu Giấy, Hà Nội
                                Điện thoại: 0997752127 - máy lẻ 4500
                            </li>   
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12">
                    <div class="footer-box">
                        <h2 class="title-bold-light title-bar-left text-uppercase">CÔNG TY CPDV T&T</h2>
                        <ul class="post-gallery shine-hover ">
                            <li>
                               Chuyên cung cấp các dịch vụ phần mềm
                               Quản lý tin tức, báo chí
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p>© 2023 newsedge Designed by T&T. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>