   <!-- Modal Start-->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="title-login-form">Đăng nhập</div>
            </div>
            <div class="modal-body">
                <div class="login-form">
                    <form>
                        <label>Tài khoản *</label>
                        <input type="text" placeholder="Tài khoản" />
                        <label>Mật khẩu *</label>
                        <input type="password" placeholder="Mật khẩu" />
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox" type="checkbox" checked>
                            <label for="checkbox">Ghi nhớ mật khẩu</label>
                        </div>
                        <button type="submit" value="Login">Đăng nhập</button>
                        <button class="form-cancel" type="submit" value="">Đóng</button>
                        <label class="lost-password">
                            <a href="#">Quên mật khẩu?</a>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End-->
<!-- Offcanvas Menu Start -->
<div id="offcanvas-body-wrapper" class="offcanvas-body-wrapper">
    <div id="offcanvas-nav-close" class="offcanvas-nav-close offcanvas-menu-btn">
        <a href="#" class="menu-times re-point">
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="offcanvas-main-body">
        <ul id="accordion" class="offcanvas-nav panel-group">
            <li class="panel panel-default">
                <div class="panel-heading">
                    <a href="/">
                        <i class="fa fa-home" aria-hidden="true"></i>Trang chủ
                    </a>
                </div>                
            </li>
            <li>
                <a href="/News">
                    <i class="fa fa-user" aria-hidden="true"></i>Tin tức
                </a>
            </li>
            @await Component.InvokeAsync("ViewNav")
        </ul>
    </div>
</div>
<!-- Offcanvas Menu End -->